main {
    font-family: "Stint Ultra Expanded",Georgia,serif;
    background-color: white;
    line-height: 1.8em;
    color: #555;
    padding: 1em;
    border: double 4px #EADDC4;
    border-radius: 25px;
    margin: 2.5%;
}

body {
    font-family: Georgia,serif;
    font-size: 100%;
    background-color: white;
    margin: 0;
}

p.more {
    font-family: verdana,sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
}
